{% load staticfiles %}
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="DashBorad">&#xe66a;</i>
                    <cite>DashBorad</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('统计页面','welcome1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>我的工作台</cite></a>
                    </li>

                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="订单管理">&#xe723;</i>
                    <cite>订单管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Order','order-list.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Order</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="服务管理">&#xe723;</i>
                    <cite>服务管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Services','cate.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Services</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="流水线管理">&#xe62c;</i>
                    <cite>流水线管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Pipeline','city.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Pipeline</cite></a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="产线管理">&#xe6ce;</i>
                    <cite>产线管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Namespace','echarts1.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Namespace</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="用户管理">&#xe6b4;</i>
                    <cite>用户管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Group','Group.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Group</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('User','User.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>User</cite></a>
                    </li>

                    <li>
                        <a onclick="xadmin.add_tab('Authority','Authority.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Authority</cite></a>
                    </li>

                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="参数管理">&#xe6b4;</i>
                    <cite>参数管理</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Parameter','error.html')">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Parameter</cite></a>
                    </li>
                </ul>
            </li>


            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统报表">&#xe6b4;</i>
                    <cite>系统报表</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Report','https://fly.layui.com/extend/sliderVerify/')" target="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Report</cite></a>
                    </li>
                </ul>
            </li>

            <li>
                <a href="javascript:;">
                    <i class="iconfont left-nav-li" lay-tips="系统设置">&#xe6b4;</i>
                    <cite>系统设置</cite>
                    <i class="iconfont nav_right">&#xe697;</i></a>
                <ul class="sub-menu">
                    <li>
                        <a onclick="xadmin.add_tab('Settings','https://fly.layui.com/extend/sliderVerify/')" target="">
                            <i class="iconfont">&#xe6a7;</i>
                            <cite>Settings</cite></a>
                    </li>
                </ul>
            </li>


        </ul>
    </div>
</div>